{extend name="mobile@template/common"/} 
{block name="style"}
<style>
.weui-footer_fixed-bottom {
	bottom: 0;
}
</style>
{/block} 
{block name="body"}
<div class="ui-video-fixed">
	<div class="ui-video-box">
		<video id="video" class="video" x5-playsinline="" playsinline="" webkit-playsinline="" onplay="startplay()" :src="video.url" poster="{$detail.course.banner}" controls="controls" width="100%" style=""></video>
	</div>
	{eq name="detail.process.status" value="ready"}
	<div class="ui-video-status">
		<div class="ui-video-status_panel" >
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="lead">即将开始</div>
				<div class="lead" id="readycount"></div>
			  </div>
			</div>
		</div>
	</div>
	{/eq}
	<div class="ui-title">{$school.name}<button class="green ui-btn ui-btn-xs focus-btn" id="publishTopic" onclick="wxqrcode()"><img src="/guanke/images/icons/qrcode.png"/>&nbsp;关注</button></div>
</div>
<div class="ui-content ui-hide">
	{neq name="detail.teacher_id" value="0"}
	<div class="weui-panel weui-panel_access">
		<div class="weui-panel__bd">
			<a href="/guanke/mobile.teacher/detail.html?id={$detail.teacher_id}" class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__hd">
					<img class="weui-media-box__thumb" src="{$detail.teacher.avatar}">
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title">主讲老师：{$detail.teacher.name}</h4>
					<p class="weui-media-box__desc">{$detail.teacher.intro}}</p>
				</div>
			</a>
		</div>
	</div>
	{/neq}
	<div class="ui-tab-content">
		<article class="weui-article">
			<div v-html="content"></div>
		</article>
	</div>
	
	<!-- 报名及状态 -->
	<div class="weui-footer weui-footer_fixed-bottom">
		{switch $detail.process.status}
			{case finish}
				<button class="weui-btn weui-btn_default weui-btn_disabled" style="border-radius: 0">已结束</button>
			{/case}
			{default/}
				<button class="weui-btn weui-btn_primary" v-on:click="doFavor" style="border-radius: 0" v-show="favor.isshow">{{favor.text}}</button>
		{/switch}
		
	</div>	
</div>
{/block} 
{block name="script"}
<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data : {
				video:{
					url:''
				},
				favor:{
					text:'立即报名',
					isshow:false
				},
				content:'',
			},
			created:function(){
				//获得课程详细
				this.getContent();
				$(".ui-content").removeClass('ui-hide');
			},
			methods:{
				videoinfo:function(){
					let _this = this;
					$.get('videoinfo.html',{live_id:"{$detail.id}"},function(res){
						if(res['code']==1){
							_this.video = res['video'];
							$("#video").load();
							_this.videoplay();
						}else{
							_this.isFavor(res);
							$.alert(res['msg']);
						}
					})
				},
				
				videoplay:function(){
					$.get('videoplay.html',{live_id:"{$detail.id}"},function(res){
						$("#video").play();
					})
				},
				
				getContent:function(){
					$.showLoading();
					let _this = this;
					$.get('/guanke/mobile.course/content.html',{course_id:"{$detail.course_id}"},function(res){
						_this.content = res;
						_this.videoinfo();
						$.hideLoading();
					})
				},
				
				doFavor:function(){
					let _this = this;
					if("{:empty($detail['member']->mobile)}" == "true"){
						$.prompt({
							  title: '立即报名-手机号报名',
							  text: '注册成为会员，免费享受更多精彩直播课程',
							  input: '',
							  empty: false, // 是否允许为空
							  onOK: function (input) {
								  $.get('favor.html',{live_id:live_id,mobile:input},function(res){
									  if(res['code']!=1){
										  _this.isFavor(res);
										  $.alert(res['msg']);
									  }
								  })
							  },
							  onCancel: function () {
							  }
						});									
					}else{
						$.get('favor.html',{live_id:live_id},function(res){
							if(res['code']!=1){
							 _this.isFavor(res);
							 $.alert(res['msg']);
							}
					  	})
					}
				},
				
				isFavor:function(res){
					let _this = this;
					switch(res['error']){
						case 'unfavor':
							_this.favor.text = '立即报名';
							_this.favor.ishow = true;
							break;
						case 'unveryfy':
							_this.favor.text = '审核中';
							_this.favor.ishow = true;
							break;
					}
				}
			}
		})

$(function(){
	//修正内容距离顶部的高度
	$(".ui-content").css('padding-top',$(".course-hd").height());
	
	//显示倒计时
	if("{$detail.process.status}" == 'ready'){
		$("#readycount").countdown("{$detail.starttime}", function(event) {
			$(this).html(event.strftime('%D 天 %H : %M : %S'));
	  	});
	}
})
</script>


{/block}
