{extend name="mobile@template/common"/} {block name="style"}
<style>
.weui-footer_fixed-bottom {
	bottom: 0;
}

.weui-tab {
	border-top: #999;
}
</style>
{/block} 
{block name="body"}
<div class="course-hd">
	<div class="course-camera">
		<video id="video" class="video" x5-playsinline="" playsinline="" webkit-playsinline="" :src="live.member.url" :poster="course.banner" controls="controls" width="100%" style=""></video>
	</div>
</div>
<div class="course-bd">
	<div class="weui-panel weui-panel_access" v-if="live.teacher_id>0">
		<div class="weui-panel__bd">
			<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__hd">
					<img class="weui-media-box__thumb" :src="live.teacher.avatar">
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title">主讲老师：{{live.teacher.name}}</h4>
					<p class="weui-media-box__desc">{{live.teacher.intro}}</p>
				</div>
			</a>
		</div>
	</div>
	<div class="weui-panel weui-panel_access" v-if="course.contenttype==1">
		<div class="weui-panel__bd">
			<a :href="course.contenturl" class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__hd">
					<img class="weui-media-box__thumb" src="{$school.logo}">
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title">{{course.name}}</h4>
					<p class="weui-media-box__desc">{{course.intro}}</p>
				</div>
			</a>
		</div>
	</div>
	<div class="school-tab-content">
		<article class="weui-article" v-if="course.contenttype==2">
			<div v-html="course.content"></div>
		</article>
	</div>
</div>

<div id="wechat" class='weui-popup__container'>
	<div class="weui-popup__overlay"></div>
	<div class="weui-popup__modal">
		<div class="toolbar">
			<div class="toolbar-inner">
				<a href="javascript:;" class="picker-button close-popup">关闭</a>
	            <h1 class="title">长按识别二维码</h1>
			</div>
		</div>
		<div class="modal-content" style="text-align:center;margin-top:50px;">
	          <img :src="live.wechat.qrcode_url" width="200" height="200"/>
		</div>
	</div>
</div>

<!-- 悬浮发布 -->
<div class="ui-button-float" id="publishTopic">
	<img src="/guanke/images/icons/pen.png" />
</div>
<div class="weui-footer weui-footer_fixed-bottom">
	<button class="weui-btn weui-btn_primary" v-on:click="doFavor" style="border-radius: 0" v-if="isshowfavor">立即报名</button>
	<button class="weui-btn weui-btn_primary" v-on:click="doFavor" style="border-radius: 0" v-if="isshowveryfy">审核中</button>
	<button class="weui-btn weui-btn_primary" v-on:click="getLive" style="border-radius: 0" v-if="isshowqrcode">关注公众号</button>
</div>
{/block} 
{block name="script"}
<script type="text/javascript">
		var live_id = {$live_id};
		var vm = new Vue({
			el:'#app',
			data : {
				live:{
					course:{'banner':''},
					teacher:{},
					camera:{'url':''},
					member:{'url':''}
				},
				course:{
					content:'',
					contenturl:'',
					contenttype:'',
				},
				wechat:{
					qrcode_url:''
				},
				isshowfavor:false,
				isshowveryfy:false,
				isshowqrcode:false,
			},
			created:function(){
				this.getLive();
				
			},
			methods:{
				getLive:function(e){
					let _this = this;
					$.get('detaildata.html',{live_id:live_id},function(res){
						_this.live = res.data;
						_this.getCourse(_this.live.course_id);
						if(res.code==1){
							//$("#video").prop("src",_this.live.member.url);
							$("#video").load();
						}else{
							_this.isshowfavor=false;
							_this.isshowveryfy=false;
							_this.isshowqrcode=false;
							if(res.error=="unsubscribe"){
								_this.isshowqrcode = true;
								$.noti({
						            title: "本课程需要关注公众号才可观看",
						            text: "关注公众号",
						            media: "<img src='{$school.logo}' width='30' height='30' />",
						            data: {
						              message: "您还为关注"
						            },
						            time: 5000,
						            onClick: function(data) {
						              $.alert(data.message);
						            }
						          });
								$("#wechat").popup();
								return;
							}
							if(res.error=="unfavor"){
								_this.isshowfavor = true;
						        $.noti({
						            title: "本课程需要报名才可以观看",
						            text: "点击下方按钮立即报名吧",
						            media: "<img src='{$school.logo}' width='30' height='30' />",
						            data: {
						              message: "点击立即报名吧"
						            },
						            time: 5000,
						            onClick: function(data) {
						              $.alert(data.message);
						            }
						          });
								return;
							}
							if(res.error=="unveryfy"){
								$.noti({
						            title: "本课程需要管理员审核才可以观看",
						            text: "请耐心等待，或电话联系我们  {$school.phone}",
						            media: "<img src='{$school.logo}' width='30' height='30' />",
						            data: {
						              message: "审核中"
						            },
						            time: 5000,
						            onClick: function(data) {
						              $.alert(data.message);
						            }
						          });
								_this.isshowveryfy = true;
								return;
							}
							$.alert(res.msg, "错误");
						}
						
						
					})
				},
				getCourse:function(course_id){
					let _this = this;
					$.get('/guanke/mobile.course/detaildata.html',{course_id:course_id},function(res){
						console.log(res.data);
						if(res.code==1){
							_this.course = res.data;
						}else{
							 $.alert("加载失败，请重新打开页面", "网速不给力");
						}
					})
				},
				doFavor:function(e){
					let _this = this;
					$.get('favor.html',{live_id:live_id,membervisibility:_this.live.membervisibility,camera_id:_this.live.camera_id},function(res){
						console.log(res);
						if(res.code==1){
							$.alert(res.msg, "友情提示");
							_this.isshowfavor = false;
							_this.isshowveryfy = false;
							_this.live.member.url = res.url;
							//$("#video").prop("src",res.url);
							$("#video").load();
						}else{
							if(res.error=='unveryfy'){
								$.alert(res.msg, "友情提示");
								_this.isshowfavor = false;
								_this.isshowveryfy = true;
								return;
							}
							$.alert("加载失败，请重新打开页面", "网速不给力");
						}
					})
				}
			}
		})

		var screenW;
		var flag = false;
// 		window.document.title = '{$course.name}';

// 		total = document.documentElement.clientHeight;
// 		document.body.style.height = total + "px";
// 		var video = document.getElementById('video');
// 		video.oncanplay = function() {
// 			flag = true;
// 		}
// 		var playVideo = setInterval(function() {
// 			if (flag) {
// 				clearInterval(playVideo);
// 			} else {
// 				video.load();
// 			}
// 		}, 20000);

</script>


{/block}
