{extend name="mobile@template/common"/} 
{block name="style"}
<style>
.page{
	background: #fff;
}
.ui-content{
	position: relative;
	background: #f0f0f0;
    padding:0;
    width: 100%;
    max-width: 480px;
    overflow: hidden;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;	
}

.livecourse {
	background: #fff;
	padding-bottom:5px;
	padding:10px;
}

.livecourse__wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 570px;
}

.livecourse .livecourse__header {
    text-align: center;
    letter-spacing: 5px;
    line-height: 40px;
    margin-bottom: 15px;
    height: 40px;
	font-size: 22px;
	font-weight:bold;
	font-style: italic;
	font-family:'微软雅黑';
}

.livecourse .livecourse__header .header {
	margin-left: 20px;
    margin-right: 20px;
	background-image: -webkit-linear-gradient(left, #FE940E , #FE2202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.livecourse .livecourse__header .lingxing1{
	color:#FFE89A;
	font-size:11px;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
.livecourse .livecourse__header .lingxing2{
	color:#FFDD5B;
	font-size:16px;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}

.livecourse .livecourse__list{
	padding-left: 8px;
    padding-right: 8px;
}

.livecourse .livecourse__item{
	position:relative;
	margin-bottom:15px;
}

.livecourse .livecourse__media{
	position: relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
	z-index:10;
	
}

.livecourse .livecourse__media img{
	display:block;
	width:100%;
	height:100%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	z-index:-1;
	background-color:rgba(0,0,0,0.7);
}
.livecourse .livecourse__media .mask{  
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -30px;
    z-index: 1;
	background-color:rgba(0,0,0,0.7);
	border-radius:50%;
}  

.livecourse .livecourse__media .arrow {
    width: 13px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -6px;
    background: url(/guanke/images/icons/arrow.png) no-repeat;
	z-index: 8;
}

.livecourse .livecourse__media .video-btn {
    width: 45px;
    height: 45px;
    background: url(/guanke/images/icons/circle_border.png) no-repeat;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin: -42.5px 0 0 -22.5px;
     animation: rotate 4s .1s linear infinite;
    -webkit-animation: rotate 4s .1s linear infinite;
	
}

.livecourse  .livecourse__info{
	position:absolute;
	width:100%;
	color: #fff;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	background:rgba(0,0,0,0.7);
	z-index:10;
	margin-top:-40px;
}


@keyframes rotate{
	0% {
	    transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	}
	50% {
	    transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	}
	100% {
	    transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	}
}


.activity__couponspa .couponspa__showTime {
    transition: all 1s;
    position: relative;
}

.course__wrapper {
    background: #f0f0f0;
}

.course__wrapper .course__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 5px;
}

.course__list .course__item {
    width: calc(50% - 10px);
	margin:5px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 10px 10px 15px;
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    overflow: hidden;
	box-sizing:border-box;
}

.course__item img {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.course__item .item__title {
    color: #512b0c;
    width: 100%;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.course__item .item__title span{
	color: #f04141;
}

.course__item .item__tags {
    color: #999;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.course__item .item__bottom {
    text-align: center;
}

.course__item .item__bottom button {
    background: #f8573f;
    box-shadow: 2px 2px 4px 0 rgba(255,82,62,.4);
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
    width: 122px;
    line-height: 12px;
    height: 36px;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(90deg,#ff8a79,#f04141);
}

.share {
    background: url(//res.imtt.qq.com/bookshelf/images/carnival/carnival-share.png) no-repeat;
    background-size: 100% 100%;
    widows: 100%;
    margin: 0;
    text-align: center;
	color:#fff;
	font-size:16px;
	line-height:35px;
	height:35px;
}

.weui-popup__container{
	position: fixed;
	overflow:hidden;
	padding:0;
    max-width: 480px;
	margin:auto;
}

.weui-popup__modal{
	position:relative;
	background-color:#fff;
	box-shadow: 0 0 2px rgba(255,255,255,0.8);
	border-radius:5px;
	width:85%;
	margin:20px auto;
	height:auto;
}

.login-pannel{
	text-align:center;	
}
.login-box{
	position:relative;
	width:100%;
}
.box-header{
	height:50px;
	background:#f04141;
	color:#fff;
	font-size:16px;
	line-height:50px;
	text-align:center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom:1px solid #ff8a79;
}

.box-body{
	position:relative;
	padding:25px 0;
	width:100%;
	text-align:center;
}
.box-input{
	position:relative;
	width:100%;
	margin:auto;
	line-height:40px;
	text-align:center;
	padding:0 20px;
	box-sizing:border-box;
}
.box-input input{
	position:relative;
	height:44px;
	margin-bottom:15px;
	border:0;
	font-size:16px;
	text-indent:35px;
	padding-right:-45px;
	color:#333;
	width:100%;
	border-style: solid;
	border-width: 0;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.5);
}

.box-input input::-webkit-input-placeholder{
    font-size:16px;  
    color: #999;
} 

.box-input img{
	position:absolute;
	left:30px;
	top:11px;
	width:20px;
	height:20px;
	filter:invert(0.3);
	-webkit-filter: invert(0.3);
	z-index:999;
}


button,.button {
	width:100%;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family:"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	line-height: 45px;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: 1em;
	background-image: linear-gradient(180deg,#ff8a79,#f04141);
	border-color: #ff8a79;
	color: white;
	border-radius:3px;
	margin-top:15px;
	letter-spacing:5px;
	transition: background-color 300ms ease-out;
}

</style>
{/block}
{block name="body"}

<div class="swiper-container" >
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<div class="swiper-slide" v-for="item in slideList">
			<img :src="item.banner" class="main-img"/>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="ui-content ui-hide">

	<div class="livecourse">
		<div class="livecourse__wrapper">
			<div class="livecourse__header">
				<span class="lingxing1">&diams;</span><span class="lingxing2">&diams;</span>
				<span class="header">课堂直播</span>
				<span class="lingxing2">&diams;</span><span class="lingxing1">&diams;</span>
			</div>
			<div class="livecouse__list" >
				<div class="livecourse__item" v-for="item in livecourseList">
					<div class="livecourse__media">
						<img :src="item.course.banner">
						<span class="arrow"></span>
						<span class="video-btn"></span>
						<span class="mask"></span>
					</div>
					<div class="livecourse__info">
						<div>{{item.name}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="course">
		<div class="course__wrapper">
			<div class="course__list" >
				<div class="course__item" v-for="item in courseList">
					<div class="item__media"><img :src="item.banner" /></div>
					<div class="item__title"><span>【{{item.name}}】</span>{{item.intro}}</div>
					<div class="item__tags"><div>1239人试听过</div><div>12课时</div></div>
					<div class="item__bottom"><button class="open-popup " data-target="enroll" onclick="openenroll()" >报名试听</button></div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="enroll" class="weui-popup__container">
		<div class="weui-popup__overlay"></div>
		<div class="weui-popup__modal">
			<div class="login-box">
				<div class="box-header">
					预约试听(简单快捷，全程免费)
				</div>
				<div class="box-body">
					<form class="login-form" id="login-form" action="/manage/passport/dologin.html" method="post" autocomplete="off">
						<div class="box-input login-username">
							<img src="/site/images/icons/user.png">
							<input type="text" id="mobile" name="mobile" nullmsg="请输入报名手机号" placeholder="请输入报名手机号" >
							<div style="font-size:13px;color:#ff8a79;line-height:18px;text-align:left;">
							温馨提示：试听名额有限，请填写真实有效的联系方式，方便校区老师为您安排试听时间
							</div>
							<input type="hidden" name="formhash" value="5abb5d21"/>
							<button type="submit" class="blue button">报名提交</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{/block} {block name="script"}
<script>
var school_id = '{$school.id}';
var vm = new Vue({
	el:'#app',
	data : {
		livecourseList:[],
		courseList:[],
		slideList:[]
	},
	created:function(){
		this.getLivecourseList();
		this.getSlide();
	},
	mounted:function(){
		let _this = this;
		$.get('/guanke/mobile.school/listslide.html',{school_id:school_id},function(res){
			_this.slideList = res.data;	
			$(".swiper-container").swiper({
		       autoplay: 3000,
		       slidesPerView:"auto",
			   centeredSlides:!0
		    });
		})		
	},
	methods:{
		getLivecourseList:function(e){
			$.showLoading();
			let _this = this;
			$.get('/guanke/mobile.livecourse/alllistdata.html',{school_id:school_id},function(res){
				console.log(res.data);
				_this.livecourseList = res.data.livecourseList;
				_this.courseList = res.data.courseList;
				$.hideLoading();
				$(".ui-content").removeClass("ui-hide");
			})
		},
		getSlide:function(e){
			let _this = this;
			$.get('/guanke/mobile.school/listslide.html',{school_id:school_id},function(res){
				_this.slideList = res.data;	
			})
		}
	}
})

$(function(){
	
})

function openenroll(){
		$("#enroll").popup();
}

</script>
{/block}
