{extend name="manage@template/iframe"/}
{block name="body"}
<div class="view-page">
    <!-- 页面标题 -->
    <div class="page-head">
        <h6 class="padding-left page-head-title">{$detail.id?'编辑':'新增'}摄像头
        <span class="fr text-small text-normal padding-top"><b class="text-main"></b></span>
        </h6>
    </div>
 
    <div class="page-content">
	    <form class="form-inline form-edit ajaxForm" id="formEdit" style="margin-top:-1px;" enctype="multipart/form-data" method="post" action="edit" autocomplete="off">
	        <input type="hidden" id="id" name="id" value="{$detail.id}">
	        <div class="form-unit-style" data-title="学校信息">
	            <h5 class="real-name-head margin-large-top text-main-deep">摄像头信息<span class="margin-left">后期开放新增和修改</span></h5>
	            <div class="form-group clearfix">
	                <div class="label-zoon required">名称</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-main" id="name" name="name" value="{$detail.name}" placeholder="例如：二楼跆拳道教室摄像头">
	                </div>
	            </div>
	            
	            <div class="form-group clearfix">
	                <div class="label-zoon required">编号</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-main" id="code" name="code" value="{$detail.code}" placeholder="在购买的摄像头里面查看">
	                </div>
	            </div>
	            
	            <div class="form-group clearfix">
	                <div class="label-zoon required">链接</div>
	                <div class="input-zoon">
						<input type="text" class="form-control width-main" id="url" name="url" value="{$detail.url}" placeholder="出厂时我们会协助帮您设置">
	                </div>
	            </div>
	            
				<div class="form-group clearfix">
	                <div class="label-zoon">状态</div>
	                <div class="input-zoon">
	                    <input type="hidden" name="isuse" value="{$detail.isuse}">
	                    <input class="form-control" name="isuse_check" id="isuse_check" data-on-color="success" data-on-text="显示" data-off-color="danger" data-off-text="隐藏" data-size="small" value="1" {$detail.isuse==1?'checked':''} type="checkbox" />
	                </div>
	            </div>

	        </div>

	        <div class="form-unit-style margin-large-top" data-title="提交">
	            <div class="form-group clearfix">
	                <div class="label-zoon"></div>
	                <div class="input-zoon">
	                    <button type="button" class="btn btn-info" id="saveBtn">立即保存</button>
	                    <button type="button" class="btn btn-default margin-left-15 linkto-btn" data-url="index.html">返回上页</button>
	                </div>
	            </div>
	        </div>
	    </form>
	</div>


</div>
{/block}
{block name="script"}
<script>
var $page = {};
$(function(){



    //是否显示初始化
    $("input[name='isuse_check']").bootstrapSwitch();
    $('input[name="isuse_check"]').on('switchChange.bootstrapSwitch', function(event, state) {
        if(state){
            $("input[name='isuse']").val(1);
        }else{
            $("input[name='isuse']").val(0);
        }
    })    
    
    //提交表单
	$("#saveBtn").on("click",function(){
		$('.ajaxForm').submit();
        return false;
    })
})
</script>
{/block}