{extend name="manage@template/iframe"/}
{block name="body"}
<div class="view-page">
    <!-- 页面标题 -->
    <div class="page-head">
        <h6 class="padding-left page-head-title">摄像头查询
        <span class="fr text-small text-normal padding-top"><b class="text-main">如有疑问或购买摄像头，电话 15712368727</b></span>
        </h6>
    </div>
        
    <div class="page-content">
		<form name="formSearch" class="form-search form-inline" method="get" action="index">
		    <input type="text" name="keywords" id="keywords" class="form-control input-sm" value="{$Think.get.keywords??''}" placeholder="名称或设备号" />
		    <button type="submit" class="btn btn-sm  btn-purple ">搜索</button>
		    <button type="button" class="btn btn-sm  btn-purple linkto-btn" data-url="index">清空条件</button>
		    <button type="button" class="btn btn-sm  btn-success pull-right" onclick="parent.showMsg('拨打客服电话: 15712368727 订购摄像头','success')"><i class="fa fa-plus"></i> 购买摄像头</button>
		</form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class=" w5 text-center">序号</th>
                    <th class=" w30 ">摄像头名称</th>
                    <th class=" w20 ">设备号</th>
                    <th class=" w10 ">状态</th>
                    <th class=" w10 ">排序</th>
                    <th class=" w25 text-center">操作</th>                 
                </tr>
            </thead>
            <tbody>
                {volist name="pageData" id="item"}
                <tr >
                    <td class="text-center">{$i}</tds>
                    <td>{$item.name}</td>
                    <td>{$item.code}</td>
                    <td><span class="{$item.isuse==1?'text-green':''}">{$item.isusetext}</span></td>
                    <td>	                    
                    	<input id="sort{$item.id}" value="{$item.sort}" class="list_order form-control input-xs" data-id="{$item.id}" data-old="{$item.sort}" data-url="sortChange.html"/>
					</td>
                    <td class="text-center">
                        <button class="text-main btn btn-xs btn-default"  data-toggle="modal" onclick="popModal('/zhibo/manage.camera/name.html?id={$item.id}')"><i class="fa fa-pencil"></i> 修改名称</button>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
        {empty name="pageData"}
        <div class="non-info show">
            <span>没查询到符合条件的记录</span>
        </div>
        {/empty}
        <div class="show-page padding-big-right">
	        <div class="page">{$pageData->render()|raw}</div>
	    </div>
    </div>


</div>
{/block}
{block name="script"}
<script>
$(function(){
	$(".status-btn").each(function(){
        loadStatusBtn($(this));
    })
})
</script>
{/block}