{extend name="mobile@template/common"/} {block name="style"}
<style>
.weui-footer_fixed-bottom {
	bottom: 0;
}
</style>
{/block} 
{block name="body"}
<div class="school-bd">
	<div class="weui-panel weui-panel_access">
		<div class="weui-panel__bd">
			<div class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__hd">
					<img class="weui-media-box__thumb" src="{$detail.avatar}">
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title">{$detail.name}-{$detail.type}</h4>
					<p class="weui-media-box__desc">{$detail.intro}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="school-tab-content">
		<article class="weui-article">
			{$detail.content}
		</article>
	</div>

</div>
{/block} 
{block name="script"}
<script type="text/javascript">
</script>
{/block}
