{extend name="mobile@template/common"/} {block name="style"}
<style>
.weui-footer_fixed-bottom {
	bottom: 0;
}
.course-ft{
	width:100%;
	background: -webkit-gradient(linear, 50% 0, 50% 100%, from(#bc8878), to(#552032));
	overflow: hidden;
	margin-top:-10px;
}
.course-name{
	margin:10px 10px 5px 10px;;
	line-height:30px;
	height:24px;
	color:#fff;
}
.course-intro{
  display: -webkit-box;
  height: 40px;
  margin: 0 0 5px 10px;
  font-size: 13px;
  line-height: 18px;
  height:36px;
  color: #ccc;
  -webkit-box-align: left;
  -webkit-box-pack: center;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
</style>
{/block} 
{block name="body"}
<div class="school-hd">
	<div style="position:relative;">
		<img src="{$detail.banner}" style="width:100%;">
		<div  class="course-ft">
			<div class="course-name">{$detail.name}</div>
			<div class="course-intro">{$detail.intro}</div>
		</div>
	</div>

</div>
<div class="school-bd">
	<div class="school-tab-content">
		<article class="weui-article">
			{$detail.content|raw}
		</article>
	</div>
</div>
{/block} 
{block name="script"}
<script type="text/javascript">
$(function(){	
})
</script>
{/block}
