{extend name="mobile@template/common"/}
{block name="style"}
<style>
.weui-footer_fixed-bottom {
	bottom: 0;
}
</style>
{/block} 
{block name="body"}
<div class="ui-video-fixed">
	<div class="ui-title">{$school.name}<button class="ui-btn ui-btn-xs focus-btn" id="publishTopic" onclick="wxqrcode()"><img src="/guanke/images/icons/qrcode.png"/>&nbsp;关注</button></div>
</div>
<div class="ui-content">
	<div class="ui-content ui-hide">
		<article class="weui-article">
			{$detail.content|raw}
		</article>
	</div>
</div>
{/block} 
{block name="script"}
{/block}
