{extend name="mobile@template/common"/} 
{block name="style"}
<style>
.weui-footer_fixed-bottom {
	bottom: 0;
}
</style>
{/block} 
{block name="body"}
<div class="ui-video-fixed">
	<div class="ui-video-box">
		<video id="video" class="video" x5-playsinline="" playsinline="" webkit-playsinline="" onplay="startplay()" :src="video.url" poster="{$detail.school.banner}" controls="controls" width="100%" style=""></video>
	</div>
	<div class="ui-title">{$school.name}<button class="ui-btn ui-btn-xs focus-btn" id="publishTopic" onclick="wxqrcode()"><img src="/guanke/images/icons/qrcode.png"/>&nbsp;关注</button></div>
</div>
<div class="ui-content ui-hide">
	<div class="school-tab-content">
		<div class="weui-cells__title"><b>监控开放时间表</b></div>
		<div class="weui-cells">
			{volist name="detail.timesection" id="item"}
			<div class="weui-cell">
				<div class="weui-cell__bd">
				  <p>{$item.w}</p>
				</div>
				{eq name="item.is" value="1"}
				<div class="weui-cell__ft">{$item.o}-{$item.c}</div>
				{else/}
				<div class="weui-cell__ft">暂不开放</div>
				{/eq}
			</div>
			{/volist}
		</div>
	</div>
	<div class="school-tab-content">
		<article class="weui-article">
		<div v-html="school.content"></div>
		</article>
	</div>
	
	<!-- 报名及状态 -->
	<div class="weui-footer weui-footer_fixed-bottom">
		<button class="weui-btn weui-btn_primary" v-on:click="doFavor" style="border-radius: 0" v-show="favor.isshow">{{favor.text}}</button>
	</div>	
</div>
{/block} 
{block name="script"}
<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data : {
				video:{
					url:''
				},
				favor:{
					text:'申请看护',
					isshow:false
				},
				content:''
			},
			created:function(){
				//获得课程详细
				this.getContent();
				$(".ui-content").removeClass('ui-hide');
			},
			methods:{
				videoinfo:function(){
					let _this = this;
					$.get('videoinfo.html',{live_id:"{$detail.id}"},function(res){
						if(res['code']==1){
							_this.video = res['video'];
							$("#video").load();
							_this.videoplay();
						}else{
							_this.isFavor(res);
							$.alert(res['msg']);
						}
					})
				},
				
				videoplay:function(){
					$.get('videoplay.html',{live_id:"{$detail.id}"},function(res){
						$("#video").play();
					})
				},
				
				getContent:function(){
					$.showLoading();
					let _this = this;
					$.get('/guanke/mobile.school/content.html',{school_id:"{$school.id}"},function(res){
						_this.content = res;
						_this.videoinfo();
						$.hideLoading();
					})
				},
				
				doFavor:function(){
					let _this = this;
					if("{:empty($detail['member']->mobile)}" == "1"){
						$.prompt({
							  title: '申请看护',
							  text: '本功能仅对学校家长开放，请输入手机号验证',
							  input: '',
							  empty: false, // 是否允许为空
							  onOK: function (input) {
								  $.get('favor.html',{live_id:"{$detail.id}",mobile:input},function(res){
									  _this.isFavorSuccess(res);
								  })
							  },
							  onCancel: function () {
							  }
						});									
					}else{
						$.get('favor.html',{live_id:"{$detail.id}"},function(res){
							_this.isFavorSuccess(res);
					  	})
					}
				},
				
				isFavorSuccess:function(res){
					let _this = this;
					if(res['code'] != 1){
						switch(res['error']){
							case 'unfavor':
								_this.favor.text = '申请看护';
								_this.favor.isshow = true;
								break;
							case 'unveryfy':
								_this.favor.text = '审核中';
								_this.favor.isshow = true;
								break;
							default:
								_this.favor.isshow = false;
						}
					}else{
						_this.favor.isshow = false;
					}
					$.alert(res['msg']);
				}
			}
		})

$(function(){
	//修正内容距离顶部的高度
	$(".ui-content").css('padding-top',$(".course-hd").height());
	
	//显示倒计时
	if("{$detail.process.status}" == 'ready'){
		$("#readycount").countdown("{$detail.starttime}", function(event) {
			$(this).html(event.strftime('%D 天 %H : %M : %S'));
	  	});
	}
})
</script>
{/block}
