{extend name="mobile@template/common"/} 
{block name="style"}
<style>
.weui-footer_fixed-bottom {
	bottom: 0;
}
</style>
{/block} 
{block name="body"}
<div class="ui-video-fixed">
	<div class="ui-video-box">
		<video id="video" class="video" x5-playsinline="" playsinline="" webkit-playsinline="" onplay="startplay()" :src="video.url" :poster="{$detail.course.banner}" controls="controls" width="100%" style=""></video>
	</div>
	<div class="ui-title">{$school.name}<button class="green ui-btn ui-btn-xs focus-btn" id="publishTopic" onclick="wxqrcode()"><img src="/guanke/images/icons/qrcode.png"/>&nbsp;关注</button></div>
</div>
<div class="ui-content ui-hide">
	<div class="school-tab-content">
		<div class="weui-cells__title"><b>监控开放时间表</b></div>
		<div class="weui-cells">
			{volist name="detail.tiimesection" id="item"}
			<div class="weui-cell">
				<div class="weui-cell__bd">
				  <p>{$item.w}</p>
				</div>
				{eq name="item.is" value="1"}
				<div class="weui-cell__ft">{$item.o}-{$item.c}</div>
				{else/}
				<div class="weui-cell__ft">暂不开放</div>
				{/if}
			</div>
			{/volist}
		</div>
	</div>
	<div class="school-tab-content">
		<article class="weui-article">
		<div v-html="school.content"></div>
		</article>
	</div>
	
	<!-- 报名及状态 -->
	<div class="weui-footer weui-footer_fixed-bottom">
		<button class="weui-btn weui-btn_primary" v-on:click="doFavor" style="border-radius: 0" v-show="favor.isshow">{{favor.text}}</button>
	</div>	
</div>
{/block} 
{block name="script"}
<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data : {
				video:{
					url:''
				},
				favor:{
					text:'立即报名',
					isshow:false
				},
				content:''
			},
			created:function(){
				//获得课程详细
				this.getContent();
				$(".ui-content").removeClass('ui-hide');
			},
			methods:{
				videoinfo:function(){
					let _this = this;
					$.get('videoinfo.html',{live_id:"{$detail.id}"},function(res){
						if(res['code']==1){
							_this.video = res['video'];
							$("#video").load();
							_this.videoplay();
						}else{
							_this.isFavor(res);
							$.alert(res['msg']);
						}
					})
				},
				
				videoplay:function(){
					$.get('videoplay.html',{live_id:"{$detail.id}"},function(res){
						$("#video").play();
					})
				},
				
				getContent:function(){
					$.showLoading();
					let _this = this;
					$.get('/guanke/mobile.school/content.html',{school_id:"{$school.id}"},function(res){
						_this.content = res;
						_this.videoinfo();
						$.hideLoading();
					})
				},
				
				doFavor:function(){
					let _this = this;
					if("{:empty($detail.member.mobile)}" == "true"){
						$.prompt({
							  title: '立即报名-手机号报名',
							  text: '注册成为会员，免费享受更多精彩直播课程',
							  input: '',
							  empty: false, // 是否允许为空
							  onOK: function (input) {
								  $.get('favor.html',{live_id:live_id,mobile:input},function(res){
									  if(res['code']!=1){
										  _this.isFavor(res);
										  $.alert(res['msg']);
									  }
								  }
							  },
							  onCancel: function () {
							  }
						});									
					}else{
						$.get('favor.html',{live_id:live_id},function(res){
							if(res['code']!=1){
							 _this.isFavor(res);
							 $.alert(res['msg']);
							}
					  	}
					}
				},
				
				isFavor:function(res){
					switch(res['error']){
						case 'unfavor':
							_this.favor.text = '立即报名';
							_this.favor.ishow = true;
							break;
						case 'unveryfy':
							_this.favor.text = '审核中';
							_this.favor.ishow = true;
							break;
					}
				}
			}
		})

$(function(){
	//修正内容距离顶部的高度
	$(".ui-content").css('padding-top',$(".course-hd").height());
	
	//显示倒计时
	if("{$detail.process.status}" == 'ready'){
		$("#readycount").countdown("{$detail.starttime}", function(event) {
			$(this).html(event.strftime('%D 天 %H : %M : %S'));
	  	});
	}
})
</script>

<script type="text/javascript">
		var live_id = {$live_id};
		var isneedmobile = {$isneedmobile};
		var mobile = '';
		var vm = new Vue({
			el:'#app',
			data : {
				live:{
					school:{'banner':''},
					teacher:{},
					camera:{'url':''},
					member:{'url':''},
					timesection:[],
				},
				school:{
					content:'',
					contenturl:'',
					contenttype:'',
				},
				isshowfavor:false,
				isshowveryfy:false,
				isshowqrcode:false,
				isready:false,
				isfinish:false
			},
			created:function(){
				this.getLive();
				
			},
			methods:{
				getLive:function(e){
					let _this = this;
					$.get('detaildata.html',{live_id:live_id},function(res){
						_this.live = res.data;
						_this.getSchool(_this.live.school_id);
						if(res.code==1){
							$("#video").load();
						}else{
							_this.isshowfavor=false;
							_this.isshowveryfy=false;
							_this.isshowqrcode=false;
							if(res.error=="unfavor"){
								_this.isshowfavor = true;
								if(isneedmobile){
									$.prompt({
										  title: '立即报名观看',
										  text: '请输入您的手机号',
										  input: '',
										  empty: false, // 是否允许为空
										  onOK: function (input) {
											  mobile = input;
											  _this.doFavor();
										  },
										  onCancel: function () {
										  }
									});									
								}else{
									$.modal({
								          title: "友情提示",
								          text: "本监控需报名才可观看",
								          buttons: [
											{ text: "取消", className: "default"},
								            { text: "立即报名", 
								              onClick: function(){
								            	_this.doFavor();
								              }
								            }
								          ]
								    });									
								}
								return;
							}
							if(res.error=="unveryfy"){
								_this.isshowveryfy = true;
								return;
							}
							
							if(res.error=="unsubscribe"){
								_this.isshowqrcode = true;
								_this.doSubscribe();
								return;
							}
							
							if(res.error=="untime"){
								$.alert(res.msg, "友情提示");
								return;
							}
							
							$.alert(res.msg, "错误");
						}
						
						
					})
				},
				getSchool:function(school_id){
					let _this = this;
					$.get('/guanke/mobile.school/detaildata.html',{school_id:school_id},function(res){
						console.log(res.data);
						if(res.code==1){
							_this.school = res.data;
						}else{
							 $.alert("加载失败，请重新打开页面", "网速不给力");
						}
					})
				},
				
				doFavorMobile:function(){
					let _this = this;
					if(_this.isshowfavor && isneedmobile){
						$.prompt({
							  title: '立即报名观看',
							  text: '请输入您的手机号',
							  input: '',
							  empty: false, // 是否允许为空
							  onOK: function (input) {
								  mobile = input;
								  _this.doFavor();
							  },
							  onCancel: function () {
							  }
						});									
					}
				},
				
				doFavor:function(e){
					let _this = this;
					$.get('favor.html',{live_id:live_id,mobile:mobile},function(res){
						console.log(res);
						if(res.code==1){
							$.alert(res.msg, "友情提示");
							_this.isshowfavor = false;
							_this.isshowveryfy = false;
							_this.live.member.url = res.url;
							$("#video").load();
						}else{
							if(res.error=='unveryfy'){
								$.alert(res.msg, "友情提示");
								_this.isshowfavor = false;
								_this.isshowveryfy = true;
								return;
							}
							$.alert("加载失败，请重新打开页面", "网速不给力");
						}
					})
				},
				doSubscribe:function(e){
					let _this = this;
					if(_this.isshowqrcode){
						$.modal({
				          title: "友情提示",
				          text: '您尚未关注公众号，无法播放',
				          buttons: [
							{ text: "取消", className: "default"},
				            { text: "立即关注", 
				              onClick: function(){
				            	//if('{$wechat.history_url}'!=''){
				            	//	document.location.href = '{$wechat.history_url|raw}';
				            	//}else{
				            		$("#wechat").popup();
				            	//}
				              }
				            }
				          ]
				        });
					}else{
						$("#wechat").popup();
						return;
						
					}
				}
			}
		})

		function startplay(){
			$.get('/guanke/mobile.liveschool/startplay.html',{live_id:live_id},function(res){
				if(res.code!=1){
					 $.alert("加载失败，请重新打开页面", "网速不给力");
				}
			})
		}
</script>


{/block}
