<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
	</button>
	<h4 class="modal-title">员工信息</h4>
</div>

<div class="modal-body">
	<form class="form-inline form-edit border-none" id="formEdit" method="post" action="/admin/accountstaff/add" autocomplete="off">
		<div class="form-unit-style" data-title="输入项信息">
			<div class="form-group clearfix">
				<div class="label-zoon required">员工手机号</div>
				<div class="input-zoon">
					<input class="form-control width-main" type="text" name="username" value=""  autocomplete="off" placeholder="员工使用手机号登录">
				</div>
			</div>
			<div class="form-group clearfix">
				<div class="label-zoon required">登录密码</div>
				<div class="input-zoon">
					<p class="form-control-static">默认密码：123456</p>
				</div>
			</div>
			<div class="form-group clearfix">
				<div class="label-zoon required">员工姓名</div>
				<div class="input-zoon">
					<input class="form-control width-main" type="text" name="realname" value="" >
				</div>
			</div>
			<div class="form-group clearfix">
                <div class="label-zoon">备注信息</div>
                <div class="input-zoon">
                	<textarea class="form-control width-main" id="intro" name="intro" placeholder="">{$detail.intro}</textarea>
                	<p class="form-control-static"> </p>	
                </div>
            </div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<span id="resultInfo" class="text-success pull-left"></span>
	<button type="button" class="btn btn-primary" id="saveBtn">保存</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>
<script type="text/javascript">
$(function(){
	$("#saveBtn").on("click",function(){
		var btn = $(this);
        btn.addClass("disabled");
		$("#formEdit").submit();
		btn.removeClass("disabled");
		return false;
    })    
});
$('#formEdit').ajaxForm({
    success: complete, // 这是提交后的方法
    dataType: 'json'
});

//表单检查
function complete(data){
	if(data.code==0){
    	showMsg(data.msg,'error');
    }else if(data.code==1){
    	showMsg(data.msg,'success');
    	popModalHide();
    	refreshFrame();
    }
}

</script>