{extend name="mobile@template/common"/} 
{block name="style"}
<style>
.ui-cards{
	padding-top:15px;
}
.ui-cards-hd{
	border-left:3px solid orange;
	line-height:28px;
	padding-left:10px;
	margin-left:10px;
	color:#fff;
	font-weight:bold;
}
.ui-cards-bd{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:flex-start;
	padding:10px 5px;
	box-sizing:border-box;
	
}
.ui-cards .ui-card50{
	width:50%;
	padding:5px;
	box-sizing:border-box;	
}

.ui-cards .ui-card100{
	width:100%;
	padding:5px;
	box-sizing:border-box;	
}

.ui-card-box{
	background:#fff;
	border-radius:5px;
	box-sizing:border-box;
	text-align:center;
	-webkit-box-shadow: #666 0px 0px 8px;
	-moz-box-shadow: #666 0px 0px 8	px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.ui-card-box_pic{
	width:100%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.ui-card-box_name{
	display:block;
	line-height:18px;
	text-align:left;
	padding-left:5px;
	padding-left:5px;
	padding-bottom:5px;
	font-size:13px;
	color:#666;
}


.ui-card-box_hd{
	position:relative;
}
.ui-card-box_hd .live{
	position:absolute;
	color:#f76260;
	background: rgba(255,255,255,0.5);
	width:60px;
	font-size:13px;
	padding-right:10px;
	font-weight:bold;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	line-height:30px;
	top:5px;
	left:0;
}


.ui-card-box_hd .time{
	position:absolute;
	width:100%;
	height:100px;
	top:30px;
	left:0;
}
.ui-card-box_hd .time-template{
	width:180px;
	height:60px;
	border-radius:5px;
	border-top:5px solid green;
	margin:auto;
	font-size:14px;
	color:#fff;
	text-align: center;
	position:relative;
	background:rgba(0,0,0,0.5);
}

.ui-card-box_hd .time-template span{
	display:block;
	margin-top:-18px;
}

.ui-card-box_hd .time-template .time-alert{
	display:block;
  	width: 24px;
  	height: 24px;
	-webkit-filter: brightness(9);
	filter: brightness(9);
}
.ui-card-box_bd{
	text-align:center;
}

.ui-card-box_bd .status-bd__btn {
  border: 1px solid #f76260;
  border-radius: 5px;
  text-align:center;
  line-height:20px;
  height:20px;
  width:55px; 
  background: #fff;
  color: #f76260;
  font-size: 12px;
  font-weight:800;  
}

.ui-card-box_hd .live.ready {
  border: 1px solid rgba(0,194,116,1);
  color:rgba(0,194,116,1);
  background: rgba(255,255,255,0.5)
}

.ui-card-box_hd .live.finish {
  border: 1px solid #ccc;
  color:#ccc;
  background: rgba(255,255,255,0.5)
}

.coursename{
	font-size:13px;
	color:#f76260;
}

.ui-card-box_hd .time-template span.ready{
	color:rgba(0,194,116,1);
}

.ui-card-box_hd .time-template span.finish{
	color:#ccc;
}
</style>
{/block}
{block name="body"}
<!--div class="school-hd">
	<div class="school-background">
		<img src="/guanke/images/school_banner3.jpg"/>
	</div>
	<div class="school-panel">
		<div class="school-panel-hd">
			<div class="school-logo">
				<img src="{$school.logo}"/>
			</div>
			<div class="school-title">
				<div class="school-name">{$school.name}</div>
				<div class="school-fullname"> {$school.phone}</div>
			</div>
			<div class="school-share">
			</div>
		</div>
		<div class="school-panel-bd">{$school.intro}</div>
	</div>
</div>
  -->

<div class="swiper-container">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">
			<img src="{$school.banner}" />
		</div>
		{volist name="slide" id="item"}
		<div class="swiper-slide">
			<img src="{$item.banner}" />			
		</div>
		{/volist}
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="school-bd ui-hide">
	<!-- 菜单 -->
	<div class="school-tabs">
		<div class="school-tab" v-for="(item, index) in tabs" :class="{active:index == activeTab}" @click="tab(index)">
			<image :src="item.icon"/>
			<div>{{item.name}}</div>
		</div>
	</div>
	<div class="ui-line"></div>
	
	<div class="school-tab-content" v-show="tabs[activeTab].id == 'livecourse' ">	
		<div class="ui-cards" style="padding-top:0px;" v-if="courseList.length>0">
			<div class="ui-cards-bd">
				<a class="ui-card100" v-for="item in livecourseList" :href="'/guanke/mobile.livecourse/detail.html?school_id={$school.id}&live_id='+item.id" style="border-bottom: 1px solid #efefef">
					<div class="ui-card-box">
						<div class="ui-card-box_hd">
							<img class="ui-card-box_pic" :src="item.course.banner">
							<span class="live" :class="item.process.status">{{item.process.button}}</span>
							<div class="time">
								<div class="time-template">
									<img class="time-alert swing animated infinite " src="/guanke/images/icons/time_alert.png" /> 
									<span>{{item.process.time}}</span>
									<span class="coursename" :class="item.process.status" style="margin-top:5px;">{{item.course.name}}</span>
								</div>
							
							</div>
						</div>
						
						<div class="ui-card-box_bd">
							<div class="sec2-hd" style="color:#333;padding-bottom:10px;margin-bottom:10px;padding-left:5px; padding-right:5px;">{{item.name}}</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="ui-cards" v-if="courseList.length>0" style="min-height:400px;background:-webkit-gradient(linear, 50% 0, 50% 100%, from(#bc8878), to(#1c2032));">
			<div class="ui-cards-hd">推荐课程</div>
			<div class="ui-cards-bd">
				<a class="ui-card50" v-for="item in courseList" :href="'/guanke/mobile.course/detail.html?school_id={$school.id}&course_id='+item.id">
					<div class="ui-card-box">
						<img class="ui-card-box_pic" :src="item.banner">
						<span class="ui-card-box_name">{{item.name}}</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div class="school-tab-content" v-show="tabs[activeTab].id == 'liveschool' ">
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__bd">
				<a v-for="item in liveschoolList"  :href="'/guanke/mobile.liveschool/detail.html?school_id={$school.id}&live_id='+item.id" class="weui-media-box weui-media-box_appmsg">
					<div class="weui-media-box__hd">
						<img class="weui-media-box__thumb" :src="item.school.logo">
					</div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title">{{item.name}}</h4>
						<p class="weui-media-box__desc">{{item.intro}}</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div class="school-tab-content" v-show="tabs[activeTab].id == 'teacher' ">
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__bd">
				<a v-for="item in teacherList"  :href="'/guanke/mobile.teacher/detail.html?school_id={$school.id}&teacher_id='+item.id"  class="weui-media-box weui-media-box_appmsg">
					<div class="weui-media-box__hd">
						<img class="weui-media-box__thumb" :src="item.avatar" >
					</div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title">{{item.name}}，{{item.capital}}</h4>
						<p class="weui-media-box__desc">{{item.intro}}</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div class="school-tab-content" v-show="tabs[activeTab].id == 'school' ">
		<article class="weui-article">
			{$school_content|raw}
		</article>
	</div>
</div>
{/block} {block name="script"}
<script>
var school_id = '{$school.id}';
var vm = new Vue({
	el:'#app',
	data : {
		livecourseList:[],
		liveschoolList:[],
		teacherList:[],
		schoolList:[],
		courseList:[],
		tabs:[
			{id:'livecourse',name:'精彩课程',icon:'/guanke/images/icons/menu_course.png'},
			{id:'liveschool',name:'视频监控',icon:'/guanke/images/icons/menu_camera.png'},
			{id:'teacher',name:'教师团队',icon:'/guanke/images/icons/menu_teacher.png'},
			{id:'school',name:'学校简介',icon:'/guanke/images/icons/menu_school.png'},
		],
		activeTab: 0
	},
	created:function(){
		this.tab(this.activeTab);
	},
	methods:{
		tab:function(index){
			this.activeTab = index;
			switch(this.tabs[this.activeTab].id){
				case 'livecourse':
					if(this.livecourseList.length==0){
						this.getLivecourseList();
					}
					break;
					
				case 'liveschool':
					if(this.liveschoolList.length==0){
						this.getLiveschoolList();
					}
					break;
					
				case 'teacher':
					if(this.teacherList.length==0){
						this.getTeacherList();
					}
					break;
					
				case 'school':
					if(this.schoolList.length==0){
						this.getSchoolList();
					}
					break;					
			}
		},
		
		getLivecourseList:function(e){
			$.showLoading();
			let _this = this;
			$.get('/guanke/mobile.livecourse/alllistdata.html',{school_id:school_id},function(res){
				console.log(res.data);
				_this.livecourseList = res.data.livecourseList;
				_this.courseList = res.data.courseList;
				$.hideLoading();
				$(".school-bd").removeClass("ui-hide");
			})
		},
		
		getLiveschoolList:function(e){
			$.showLoading();
			let _this = this;
			$.get('/guanke/mobile.liveschool/listdata.html',{school_id:school_id},function(res){
				_this.liveschoolList = res.data;
				$.hideLoading();
			})
		},
		
		getTeacherList:function(e){
			$.showLoading();
			let _this = this;
			$.get('/guanke/mobile.teacher/listdata.html',{school_id:school_id},function(res){
				_this.teacherList = res.data;
				$.hideLoading();
			})
		},
		
		getSchoolList:function(e){
			$.showLoading();
			let _this = this;
			$.get('/guanke/mobile.school/listdata.html',{school_id:school_id},function(res){
				_this.teacherList = res.data;
				$.hideLoading();
			})
		}
	}
})


$(function(){
    $(".swiper-container").swiper({
        autoplay: 3000
      });	
})

</script>
{/block}
