{extend name="mobile@template/common"/} {block name="body"}
<!--div class="school-hd">
	<div class="school-background">
		<img src="/guanke/images/school_banner3.jpg"/>
	</div>
	<div class="school-panel">
		<div class="school-panel-hd">
			<div class="school-logo">
				<img src="{$school.logo}"/>
			</div>
			<div class="school-title">
				<div class="school-name">{$school.name}</div>
				<div class="school-fullname"> {$school.phone}</div>
			</div>
			<div class="school-share">
			</div>
		</div>
		<div class="school-panel-bd">{$school.intro}</div>
	</div>
</div>
  -->

<div class="swiper-container">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">
			<img src="{$school.banner}" />
		</div>
	</div>
</div>
<div class="school-bd">
	<!-- 菜单 -->
	<div class="school-tabs">
		<div class="school-tab active" data-content="#content_course">
			<image src="/guanke/images/icons/menu_course.png" />
			<div>精彩课程</div>
		</div>
		<div class="school-tab" data-content="#content_camera">
			<image src="/guanke/images/icons/menu_camera.png" />
			<div>视频监控</div>
		</div>
		<div class="school-tab" data-content="#content_teacher">
			<image src="/guanke/images/icons/menu_teacher.png" />
			<div>教师团队</div>
		</div>
		<div class="school-tab" data-content="#content_school">
			<image src="/guanke/images/icons/menu_school.png" />
			<div>学校简介</div>
		</div>
	</div>
	<div class="ui-line"></div>

	<!-- 商友圈 -->
	<div class="school-tab-content" id="content_course">
		{volist name="livecourses" id="item"} 
		<a class="ui-item" href="/guanke/mobile.livecourse/detail.html?id={$item.id}&school_id={$school.id}" style="border-bottom: 1px solid #efefef">
			<div class="ui-item-box">
				<div class="item-sec1">
					<img src="{$item.course.banner}" /> <span class="live">直播课程</span>
				</div>
				<div class="item-sec2">
					<div class="sec2-hd">{$item.name}</div>
					<div class="sec2-bd">
						<div class="sec2-bd__tags">{$item.course.name}</div>
						<div class="sec2-bd__btn {$item.process.status}">{$item.process.button}</div>
					</div>
					<div class="sec2-ft">
						<img class="sec2-ft__icon swing animated infinite " src="/guanke/images/icons/time_alert.png" /> <label>{$item.process.time}</label>
					</div>
				</div>
			</div>
		</a> 
		{/volist}
	</div>

	<div class="school-tab-content ui-hide" id="content_camera">
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__bd">
				{volist name="liveschools" id="item"} 
				<a href="/guanke/mobile.liveschool/detail.html?id={$item.id}&school_id={$school.id}" class="weui-media-box weui-media-box_appmsg">
					<div class="weui-media-box__hd">
						<img class="weui-media-box__thumb"
							src="{$item.school.logo}"
							alt="">
					</div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title">{$item.name}</h4>
						<p class="weui-media-box__desc">{$item.intro}</p>
					</div>
				</a>
				{/volist}
			</div>
		</div>
	</div>
	<div class="school-tab-content ui-hide" id="content_teacher">
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__bd">
				{volist name="teachers" id="item"} 
				<a href="javascript:alert('敬请关注公众号')" class="weui-media-box weui-media-box_appmsg">
					<div class="weui-media-box__hd">
						<img class="weui-media-box__thumb"
							src="{$item.avatar}"
							alt="">
					</div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title">{$item.name}，{$item.capital}</h4>
						<p class="weui-media-box__desc">{$item.intro}</p>
					</div>
				</a>
				{/volist}
			</div>
		</div>
	</div>
		<div class="school-tab-content ui-hide" id="content_school">
		<div class="ui-empty">
			<div class="ui-empty_icon"></div>
		</div>
	</div>
</div>
{/block} {block name="script"}
<script>
$(function(){
	$(".ui-item").on('click',function(){
		document.location.href = '/guanke/mobile.livecourse/detail.html?course_token='+$(this).data('token');
	})
	
    $(".swiper-container").swiper({
        autoplay: 3000
      });	
	
	$(".school-tab").on("click",function(){
		$(".school-tab").removeClass('active');
		$(this).addClass('active');
		$(".school-tab-content").addClass("ui-hide");
		let id = $(this).data('content');
		$(id).removeClass("ui-hide");
	})
})


</script>
{/block}
