{extend name="manage@template/iframe"/} 
{block name="body"}
<div class="view-page">
	<!-- 页面标题 -->
	<div class="page-head">
		<h6 class="padding-left page-head-title">
			绑定微信公众号 <span class="fr text-small text-normal padding-top"><b class="text-main"></b></span>
		</h6>
	</div>
	{notempty name="detail"}
	<table class="table table-hover">
		<thead>
			<tr>
				<th class=" w5 text-center"><input type="checkbox" /></th>
				<th class=" w15 ">公众号名称</th>
				<th class=" w10 ">LOGO</th>
				<th class=" w10 ">二维码</th>
				<th class=" w10 ">微信号</th>
				<th class=" w15 ">原始ID</th>
				<th class=" w10 ">类型</th>
				<th class=" w10 ">认账状态</th>
				<th class=" w15">绑定日期</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center"><input class="margin-top-20" type="checkbox" /></td>
				<td>{$detail.name}</td>
				<td><img src="{$detail.authorizer_info.head_img}" width="60" height="60"></td>
				<td><img src="{$detail.qrcode_url}" width="60" height="60"></td>
				<td>{$detail.authorizer_info.alias}</td>
				<td>{$detail.authorizer_info.user_name}</td>
				<td>{$detail.authorizer_info.service_type_info}</td>
				<td>{$detail.authorizer_info.verify_type_info}</td>
				<td>{$detail.create_time}</td>
			</tr>
		</tbody>
	</table>
	<div class="non-info show">
		<a class="confirm-rst-url-btn btn btn-danger" href="remove.html?id={$item.cid}" data-info="删除后，您还需要到您的公众号后台进行解绑？" title="删除"><i class="fa fa-trash"></i> 删除绑定</a>&nbsp;
		<a class="btn btn-primary" href="qrcodeurl.html" title="更新"><i class="fa fa-qrcode"></i> 更新二维码</a>&nbsp;
		<a class="btn btn-primary" href="javascript:void(0)" onclick="popModal('/wechat/manage.setting/historyurl.html')"><i class="fa fa-link"></i> 关注链接</a>&nbsp;
	</div>
	{/notempty}
	{empty name="detail"}
	<div class="page-content">
		<div class="non-info show">
			<button class="btn btn-lg btn-success linkto-btn" data-url="{$url}">绑定公众号</button>
		</div>
	</div>
	{/empty}
</div>
{/block} 
{block name="script"}
<script>

</script>
{/block}
